@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor--fluid {
  width: 100%;
  overflow-x: hidden; }

@media only screen and (min-width: 855px) {
  .padding {
    padding: 0px 60px; } }

@media only screen and (min-width: 0px) and (max-width: 854px) {
  .padding {
    padding: 0px 40px; } }

.cards--item {
  margin: 0px 30px 15px 30px;
  border: 1px solid #BA9B8E;
  border-radius: 10px;
  max-width: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.borrar-producto {
  border: none;
  background: none; }

.btn--compra {
  border: none;
  border-radius: 5px;
  background: #E9DDD4;
  color: #4B4341;
  padding: 4px 10px; }
  .btn--compra:hover {
    transition: 1s;
    background: #4B4341;
    color: #fffffa;
    border: none; }

.contenedor__cards {
  display: flex;
  justify-content: center; }

.modal--header {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px); }

.contenedor__mensaje--item {
  position: fixed;
  bottom: 10rem;
  right: 3rem;
  z-index: 10; }
  .contenedor__mensaje--item .mensaje--body {
    border-radius: 10px;
    background: #4B4341;
    color: white;
    padding: 5px 40px; }
    .contenedor__mensaje--item .mensaje--body strong {
      padding-bottom: 10px;
      border-bottom: 2px solid white; }

header {
  background: #4B4341;
  height: 100px; }

.header--distribución {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media only screen and (min-width: 855px) {
  .logo--img {
    height: 80px; }
  .header--cart {
    font-size: 2.5rem;
    color: white; }
  .btn--carrito {
    border: none;
    background: none; }
    .btn--carrito:hover {
      border: none; }
  .cantidad--productos {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: #4B4341;
    background: white;
    border-radius: 50%;
    padding: 0px 5px;
    position: relative;
    top: 10px;
    right: 50px; } }

@media only screen and (min-width: 0px) and (max-width: 854px) {
  .logo--img {
    height: 60px; }
  .header--cart {
    font-size: 2rem;
    color: white; }
  .btn--carrito {
    border: none;
    background: none; }
    .btn--carrito:hover {
      border: none; }
  .cantidad--productos {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #4B4341;
    background: white;
    border-radius: 50%;
    padding: 0px 5px;
    position: relative;
    top: 10px;
    right: 45px; } }

@media only screen and (min-width: 855px) {
  .foo__diplay--flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .foo__separador {
    border-top: 1px solid #4B4341;
    padding-top: 30px;
    margin-bottom: 15px; }
  .foo__text {
    color: #4B4341;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
    .foo__text h2 {
      font-size: 2rem; }
    .foo__text h6 {
      font-size: 1.8rem; }
    .foo__text span {
      font-size: 1.2rem; }
  .foo__redes--icon {
    font-size: 2.5rem;
    text-align: center; }
    .foo__redes--icon a {
      text-decoration: none;
      color: #4B4341;
      cursor: pointer; }
  .foo__copy {
    background: #4B4341;
    padding: 10px; }
    .foo__copy p {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      margin: 0; } }

@media only screen and (min-width: 0px) and (max-width: 854px) {
  .foo__diplay--flex {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .foo__separador {
    border-top: 1px solid #4B4341;
    padding-top: 30px;
    margin-bottom: 30px; }
  .foo__text {
    color: #4B4341;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
    .foo__text h2 {
      font-size: 1.5rem;
      padding-bottom: 5px; }
    .foo__text h6 {
      font-size: 1.2rem; }
    .foo__text span {
      font-size: 1.1rem; }
  .foo__redes--icon {
    font-size: 2rem;
    text-align: center; }
    .foo__redes--icon a {
      text-decoration: none;
      color: #4B4341;
      cursor: pointer; }
  .foo__copy {
    background: #4B4341;
    padding: 10px; }
    .foo__copy p {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      margin: 0; } }

.index--parallax {
  background-image: url("../assets/img/parallax_vino.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-bottom: 40px;
  opacity: 0.9; }
  .index--parallax h1 {
    padding: 150px 60px 0px 60px;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center; }
