// Encabezado
header {
    background: $ironstone;
    height: 100px;
}

// Distribución encabezado
.header--distribución {
    @include flex-justify-space-between;
}

// Vista desktop
@media only screen and (min-width:855px) {
    // Logo
    .logo--img {
        height: 80px;
    }

    // Icono carrito de compras
    .header--cart {
        font-size: 2.5rem;
        color: white;
    }

    // Estilos botones
    .btn--carrito {
        border: none;
        background: none;
        &:hover {
            border: none;
        }
    }

    // Número cantidad de productos
    .cantidad--productos {
        font-family: $fuente2;
        font-size: 1.5rem;
        color: $ironstone;
        background: white;
        border-radius: 50%;
        padding: 0px 5px;
        position: relative;
        top: 10px;
        right: 50px;
    }
}

// Vista mobile
@media only screen and (min-width:0px) and (max-width:854px) {
    // Logo
    .logo--img {
        height: 60px;
    }

    // Icono carrito de compras
    .header--cart {
        font-size: 2rem;
        color: white;
    }

    // Estilos botones
    .btn--carrito {
        border: none;
        background: none;
        &:hover {
            border: none;
        }
    }

    // Número cantidad de productos
    .cantidad--productos {
        font-family: $fuente2;
        font-size: 1.3rem;
        color: $ironstone;
        background: white;
        border-radius: 50%;
        padding: 0px 5px;
        position: relative;
        top: 10px;
        right: 45px;
    }
}